<section id="login">
    <div class="container h-100 d-flex justify-content-center align-items-center">

        <div class="row ">
            <div class="text-center">
                <img src="../../assets/images/logo.svg" alt="">
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
                <div class="col-md-12">
                    <div class="auth-card">
                        <span>welcome to PMS</span>
                        <h3>Login</h3>

                        <div>
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>E-mail</mat-label>
                                <input formControlName="email" matInput placeholder="Enter your E-mail">
                            </mat-form-field>
                        </div>
                        <div class="example-container">
                            <mat-form-field class="w-100">
                                <mat-label>Enter your password</mat-label>
                                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <div class="d-flex justify-content-between my-3">
                            <a class="text-decoration-none text-white">Register Now ?</a>
                            <a class="text-decoration-none text-white">Forget Password ?</a>
                        </div>
                        <button type="submit" class="main w-100 ">Login</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</section>