.status {
    border-radius: 16px;
    padding: 0.4rem 1rem;
    color: #fff;
    &.todo {
        background-color: #c9c7d6;
    }
    &.inProgress {
        background-color: rgba(239, 155, 40, 0.64);
    }
    &.done {
        background-color: #009247;
    }
}
