section {
    ul {
        padding: 0px;
        li {
            list-style: none;
            // background-color: red;
            a {
                padding: 10px;
                color: #ffffff5c;
                text-decoration: none;
                display: block;
                span {
                    margin: 0px 5px;
                }
                i {
                    color: #fff !important;
                }
            }
        }
    }
    .bg-main-transparent {
        background-color: rgba(239, 155, 40, 0.3);
        color: #fff !important;
    }
}
